<div class="container d-flex justify-content-between">

    <div class="card" style="width: 18rem;">
        <img src="../../assets/biscoito-recheado-trakinas-pct-126g-mais1-d0ce6c44b3292a385615943993965222-1024-1024.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bolacha Trakinas</h5>
          <p class="card-text">Bolacha Traakinas - A bolacha com mais Chocolate para você !!!!</p>
          <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/oleo_de_soja_liza_pet_900ml_2859_1_20200724092823.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Óleo Soja LIZA</h5>
          <p class="card-text">Óléo Soja - O óleo mais barato da região</p>
          <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/160704470_1GG.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kit Kat</h5>
          <p class="card-text">Kit Kat - Chocolate Branco, Cada vez mais gostoso para você !!!</p>
          <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()">Comprar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/0070847022015.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Energético Monster</h5>
          <p class="card-text">Energético Monster - O Energetico que te dá cada vez mais energia !!!</p>
          <a href="#" class="btn btn-primary container-fluid" (click)="Comprar()">Comprar</a>
        </div>
      </div>
</div>
